<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
</style>
<body>
    <div class="container text-center">
        <h1>Pricing</h1>
        <p>very serious-minded person knows that a large part of the effort required in moral discipline consists in the courage needed 
            to acknowledge the unpleasant consequences of one's past and present acts. No matter how hard you work for success if your thought 
            is saturated with the fear of failure, it will kill your efforts.</p>
    </div>
    <div class="container">
        <div class="row text-center">
             
            <div class="col-lg-4 col-md-6">
                <div class="p-4 mr-3 mb-3 border">
                    <div class="col mb-3 bg-light border">
                        <h5>Free</h5>
                    </div>
                    <div>
                        <div class="row justify-content-center">
                            <h2>$0</h2><h3 class="text-secondary">/mo</h3>
                        </div>

                        <p>10 users included 2GB of storage Email support Help center access</p>
                        <button type="button" class="btn btn-outline-primary">Sign up for free</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="p-4 mb-3 mr-3 border">
                    <div class="col mb-3 bg-light border">
                        <h5>Pro</h5>
                    </div>
                    <div>
                        <div class="row justify-content-center">
                            <h2>$15</h2><h3 class="text-secondary">/mo</h3>
                        </div>  
                        <p>20 users included 10GB of storage Email support Help center access</p>
                        <button type="button" class="btn btn-primary">Go started</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 mr-3 border">
                    <div class="col mb-3 bg-light border">
                        <h5>Enterprise</h5>
                    </div>
                    <div>
                        <div class="row justify-content-center">
                            <h2>$29</h2><h3 class="text-secondary">/mo</h3>
                        </div>
                        <p>30 users included 15GB of storage Email support Help center access</p>
                        <button type="button" class="btn btn-primary">Contact us</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
