<!DOCTYPE html>
<html>

<head>
    <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .grid {
            background-color: antiquewhite;
            border: 1px solid lightgray;
        }
    </style>

</head>

<body>
    <div class="container m-3">
        <div class="row m-3">
            <div class="grid col">1 of 2</div>
            <div class="grid col">2 of 2</div>
        </div>
        <div class="row m-3">
            <div class="grid col">1 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>
        </div>
        <div class="row m-3">
            <div class="grid col">1 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31 of 31
                of 31 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>
            <div class="grid col">1 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>
            <div class="grid col">1 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>
            <div class="grid col">1 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>
            <div class="grid col">1 of 3</div>
            <div class="grid col">2 of 3</div>
            <div class="grid col">3 of 3</div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
            </div>
            <div class="row">
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>
                <div class="col p-3 mb-2 bg-light border">1 of 3</div>
                <div class="col p-3 mb-2 bg-light border">2 of 3</div>
                <div class="col p-3 mb-2 bg-light border">3 of 3</div>

            </div>
        </div>
    </div>



    <div class="container mb-5">
        <div class="row">
            <div class="col p-3 mb-2 bg-light border"> 1 of 3 </div>
            <div class="col-6 p-3 mb-2 bg-light border"> 2 of 3 (wider) </div>
            <div class="col p-3 mb-2 bg-light border"> 3 of 3 </div>
        </div>
        <div class="row">
            <div class="col p-3 mb-2 bg-light border"> 1 of 3 </div>
            <div class="col-10 p-3 mb-2 bg-light border"> 2 of 3 (wider) </div>
            <div class="col p-3 mb-2 bg-light border"> 3 of 3 </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-3 p-3 mb-2 bg-light border"> col </div>
            <div class="col-3 p-3 mb-2 bg-light border"> col </div>
            <div class="col-3 p-3 mb-2 bg-light border"> col </div>
            <div class="col-3 p-3 mb-2 bg-light border"> col </div>
        </div>
        <div class="row">
            <div class="col-8 p-3 mb-2 bg-light border"> col-8 </div>
            <div class="col-4 p-3 mb-2 bg-light border"> col-4 </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-start mb-2">
            <div class="grid col-4"> One of two columns </div>
            <div class="grid col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="grid col-4"> One of two columns </div>
            <div class="grid col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-end mb-2">
            <div class="grid col-4"> One of two columns </div>
            <div class="grid col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-around mb-2">
            <div class="grid col-3"> One of two columns </div>
            <div class="grid col-3"> One of two columns </div>
            <div class="grid col-3"> One of two columns </div>
        </div>
        <div class="row justify-content-between mb-2">
            <div class="grid col-4"> One of two columns </div>
            <div class="grid col-4"> One of two columns </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-start ">
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
            <div class="p-3  bg-light border col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-end mb-2">
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
        </div>
        <div class="row justify-content-around mb-2">
            <div class="p-3 mb-2 bg-light border col-3"> One of two columns </div>
            <div class="p-3 mb-2 bg-light border col-3"> One of two columns </div>
            <div class="p-3 mb-2 bg-light border col-3"> One of two columns </div>
        </div>
        <div class="row justify-content-between mb-2">
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
            <div class="p-3 mb-2 bg-light border col-4"> One of two columns </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="border col-sm-8">col-sm-8</div>
            <div class="border col-sm-4">col-sm-4</div>
        </div>
        <div class="row">
            <div class="p-3 mb-2 bg-light border col-sm">col-sm</div>
            <div class="p-3 mb-2 bg-light border col-sm">col-sm</div>
            <div class="p-3 mb-2 bg-light border col-sm">col-sm</div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="mb-5 border col-lg-8">
                col-lg-8
            </div>
            <div class="border col-lg-4">
                col-lg-4
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="grid col-2 col-md-8">.col-2 col-md-8</div>
            <div class="grid col-10 col-md-4">.col-10 col-md-4</div>
        </div>
        <div class="row">
            <div class="grid col-1 col-md-4">.col-1 col-md-4</div>
            <div class="grid col-2 col-md-4">.col-2 col-md-4</div>
            <div class="grid col-9 col-md-4">.col-9 col-md-4</div>
        </div>
        <div class="row">
            <div class="grid col-6">.col-6</div>
            <div class="grid col-6">.col-6</div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                    <div class="grid col-lg-10 col-md-1 col-sm-1">
                    .col-lg-10 .col-md-1 .col-sm-1</div>
                    <div class="grid col-lg-1 col-md-10 col-sm-1">
                    .col-lg-1 .col-md-10 .col-sm-1</div>
                    <div class="grid col-lg-1 col-md-1 col-sm-10">
                    .col-lg-1 .col-md-1 .col-sm-10</div>
                    </div>
    </div>
    <div class="container">
            <div class="row">
                    <div class="p-3 mb-2 bg-light border col-lg-10 col-md-1 col-sm-1">
                    .col-lg-10 .col-md-1 .col-sm-1</div>
                    <div class="p-3 mb-2 bg-light border col-lg-1 d-md-block col-sm-1">
                    .col-lg-1 .col-md-10 .col-sm-1</div>
                    <div class="p-3 mb-2 bg-light border col-lg-1 col-md-1 col-sm-10">
                    .col-lg-1 .col-md-1 .col-sm-10</div>
                    </div>
    </div>



</body>

</html>