<!DOCTYPE html>
<html>

<head>
    <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .grid {
            background-color: antiquewhite;
            border: 1px solid lightgray;
        }
    </style>

</head>

<body>

    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <h1>Pricing</h1>
        </div>
        <div class="row justify-content-center mx-5">
            Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's
            built with default Bootstrap components and utilities with little customization.
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="border mr-2 p-0">
                    <div class="border border-right-0 border-left-0 border-top-0 bg-light p-2 text-center">
                        <h5>Free</h5>
                    </div>
                    <div>
                        <div class="row justify-content-center">
                            
                                <h2>$0</h2><h3 class="text-secondary"> / mo</h3>
                            
                        </div>
                        <div class="text-center">
                            <div>10 users included</div>
                            <div>2 GB of storage</div>
                            <div>Email support</div>
                            <div>Help center access</div>
                        </div>
                        <div class="text-center my-3">
                            <button type="button" class="btn btn-outline-primary">Sign up for free</button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="border mx-2 p-0">

                    <div class="border border-right-0 border-left-0 border-top-0 bg-light p-2 text-center">
                        <h5>Pro</h5>
                    </div>
                    <div class="row justify-content-center">
                        <div>
                            <h3>$15</h3>
                        </div>
                        <div>
                            <h5> / mo</h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <div>20 users included</div>
                        <div>10 GB of storage</div>
                        <div>Priority Email support</div>
                        <div>Help center access</div>
                    </div>
                    <div class="text-center my-3">
                        <button type="button" class="btn btn-primary">Get started</button>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-sm-12 col-12">
                <div class="border ml-2 p-0">
                    <div class="border border-right-0 border-left-0 border-top-0 bg-light p-2 text-center">
                        <h5>Enterprise</h5>
                    </div>
                    <div class="row justify-content-center">
                        <div>
                            <h3>$29</h3>
                        </div>
                        <div>
                            <h5> / mo</h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <div>30 users included</div>
                        <div>15 GB of storage</div>
                        <div>Phone and Email support</div>
                        <div>Help center access</div>
                    </div>
                    <div class="text-center my-3">
                        <button type="button" class="btn btn-primary">Contact us</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    



</body>

</html>