<!DOCTYPE html>
<html>

<head>
    <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div">
        <!-- IT'S NICE TO MEET YOU -->
        <div>
            <div id="header" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#header" data-slide-to="0" class="active"></li>
                    <li data-target="#header" data-slide-to="1"></li>
                    <li data-target="#header" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../public/images/190717/header-bg.jpg" alt="header main" width="100%">
                        <div class="carousel-caption">
                            <h3 class="display-1 text-dark bg-info">IT'S NICE TO MEET YOU</h3>
                            <button type="submit" class="btn btn-warning">TELL ME MORE</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../public/images/190717/header-bg-pencil.jpg" alt="header pencil" width="100%">
                        <div class="carousel-caption">
                            <h3 class="display-1 text-dark">#2</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../public/images/190717/header-bg-marker.jpg" alt="header marker" width="100%">
                        <div class="carousel-caption">
                            <h3 class="display-1 text-dark">#3</h3>
                        </div>
                    </div>
                </div>



                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#header" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#header" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>


        <!-- SERVICES -->
        <div class="container border my-5">
            <!-- services header -->
            <div class="row border justify-content-center mt-5">
                <h1>SERVICES</h1>
            </div>
            <div class="row border justify-content-center mb-5">
                <p class="text-muted"><em>Lorem ipsum dolor sit amet consectetur.</em></p>
            </div>
            <!-- 아래쪽 3개 -->
            <div class="row mb-5">
                <!-- E-Commerce -->
                <div class="border col-lg-4 col-md-4 col-sm-12">
                    <div class="p-2">

                        <div class="row justify-content-center">
                            <img src="../../public/images/190717/services/shopping.png" class="border">
                        </div>
                        <div class="row justify-content-center border text-center">
                            <h3>E-Commerce</h3>
                        </div>
                        <div class="row justify-content-center border text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                                quo
                                inventore harum ex magni, dicta impedit.</p>
                        </div>

                    </div>



                </div>
                <!-- Responsive Design -->
                <div class="border col-lg-4 col-md-4 col-sm-12">
                    <div class="p-2">
                        <div class="row justify-content-center">
                            <img src="../../public/images/190717/services/laptop.png" class="border">
                        </div>
                        <div class="row justify-content-center border text-center">
                            <h3>Responsive Design</h3>
                        </div>
                        <div class="row justify-content-center border text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                                quo
                                inventore harum ex magni, dicta impedit.</p>
                        </div>


                    </div>



                </div>
                <!-- Web Security -->
                <div class="border col-lg-4 col-md-4 col-sm-12">
                    <div class="p-2">
                        <div class="row justify-content-center">
                            <img src="../../public/images/190717/services/lock.png" class="border">
                        </div>
                        <div class="row justify-content-center border text-center">
                            <h3>Web Security</h3>
                        </div>
                        <div class="row justify-content-center border text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
                                quo
                                inventore harum ex magni, dicta impedit.</p>
                        </div>

                    </div>



                </div>

            </div>

        </div>


        <!-- PORTFOLIO -->
        <div class="border bg-dark mt-5">
            <div class="container border">
                <!-- portfolio header -->
                <div class="m-5">
                    <div class="row border justify-content-center">
                        <h1 class="mb-5 text-light">PORTFOLIO</h1>
                    </div>
                    <div class="row border justify-content-center text-light">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

                <!-- 포트폴리오 내용 -->
                <div class="border mb-5">
                    <!-- 1열 -->
                    <div class="row border">
                        <!-- 3행 -->
                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Thread -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/01-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Thread</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Illustration</em></p>
                                </div>
                            </div>
                        </div>

                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Explore -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/02-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Explore</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Graphic Design</em></p>
                                </div>
                            </div>
                        </div>


                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Finish -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/03-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Finish</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Identity</em></p>
                                </div>
                            </div>
                        </div>

                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Lines -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/04-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Lines</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Branding</em></p>
                                </div>
                            </div>
                        </div>

                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Southwest -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/05-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Southwest</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Website Design</em></p>
                                </div>
                            </div>
                        </div>

                        <div class="border col-lg-4 col-md-6 col-sm-12">
                            <!-- Window -->
                            <div class="border border-danger p-2">
                                <!-- 사진 -->
                                <div class="row justify-content-center">
                                    <img src="../../public/images/190717/portfolio/06-thumbnail.jpg"
                                        class="border img-fluid">
                                </div>
                                <!-- 흰배경 글씨 -->
                                <div class="row justify-content-center border border-info bg-white pt-4">
                                    <h3>Window</h3>
                                </div>
                                <div class="row justify-content-center border border-info bg-white pb-3">
                                    <p class="text-muted"><em>Photography</em></p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>



        </div>

        </div>

</body>

</html>