<!DOCTYPE html>
<html>

<head>
    <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <form action="/detail">

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="text" class="form-control" name="email">
        </div>

        <div class="form-group form-inline">
            <label for="password">Password: </label>
            <input type="text" class="form-control" name="pw">
        </div>


        <div class="form-group">
            <div class="form-check-inline">
                <label class="form-check-label" for="check1">
                    <input type="checkbox" class="form-check-input" name="vehicle1" checked>
                    Option1
                </label>
            </div>
        </div>


        <div class="form-group form-inline">
            <label for="sel1">select list:</label>
            <select class="form-control col" id="sel1" multiple name="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>


        <!-- INPUT GROUP -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="Username">
        </div>

        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Someting clever..." name="clever">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"> OK </button>
            </div>

        </div>





        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="cs1" name="switch">
            <label class="custom-control-label" for="cs1">Toggle me</label>
        </div>
        <!-- input id랑 label for을 연결시켜주지 않으면 checkbox가 동작하지 않는다 -->
        <!-- https://getbootstrap.com/docs/4.3/components/forms/#switches -->



        <div class="form-control-range">
                <label for="customRange1">Example range</label>
                <input type="range" class="custom-range" id="customRange1" name="range">

        </div>

        <div class="form-control-file">
            <label for="cf1">Example file</label>
            <input type="file" class="custom-file" id="cf1" name="file">
        </div>











    </form>



</body>

</html>