<!DOCTYPE html>
<html>

<head>
    <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    <!-- ICON https://www.w3schools.com/icons/default.asp     -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>

<body>

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                    <form action="/detail">

                        <div class="form-group">
                            <label for="01email">
                                <h5>Email:</h5>
                            </label>
                            <input type="text" class="form-control" name="01email" id="01email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="01pw">
                                <h5>Password:</h5>
                            </label>
                            <input type="text" class="form-control" name="01pw" id="01pw" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label" for="check_1">
                                    <input type="checkbox" class="form-check-input" name="01remeber"> Remember me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
            
                    </form>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                    <form action="/detail">

                        <div class="form-group input-group">
                            <div class="input-proup-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" name="02email">
                        </div>
                        <div class="form-group input-group mb-5">
                            <div class="input-proup-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Password" name="02pw">
                        </div>
                        <div class="form-group input-group mt-4">
                            <div class="input-proup-prepend">
                                <span class="input-group-text">Text</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Additional Info" name="02info">
                        </div>
            
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
            </div>
        </div>
    </div>






    <div class="container my-5">
        <form action="/detail">

            <div class="form-group">
                <label for="01email">
                    <h5>Email:</h5>
                </label>
                <input type="text" class="form-control" name="01email" id="01email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="01pw">
                    <h5>Password:</h5>
                </label>
                <input type="text" class="form-control" name="01pw" id="01pw" placeholder="Enter password">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="check_1">
                        <input type="checkbox" class="form-check-input" name="01remeber"> Remember me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>

        </form>

    </div>

    <!-- divider -->
    <div class="border"></div>

    <div class="container my-5">
        <form action="/detail">

            <div class="form-group input-group">
                <div class="input-proup-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="02email">
            </div>
            <div class="form-group input-group mb-5">
                <div class="input-proup-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Password" name="02pw">
            </div>
            <div class="form-group input-group mt-4">
                <div class="input-proup-prepend">
                    <span class="input-group-text">Text</span>
                </div>
                <input type="text" class="form-control" placeholder="Additional Info" name="02info">
            </div>

            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>

    </div>

    <!-- divider -->
    <div class="border"></div>
    <div class="container my-5">
            <form action="/detail">
    
                <div class="form-group">
                    <label for="04input_1">
                        <h5>Disabled</h5>
                    </label>
                    <input type="text" class="form-control" name="04input_1" id="04input_1" disabled
                        placeholder="Disabled input here...">
                </div>
                <div class="form-group">
                    <label for="04input_2">
                        <h5 class="text-success">Success</h5>
                    </label>
                    <input type="text" class="form-control is-valid" name="04input_2" id="04input_2">
                </div>
    
                <!-- input3 warining MISSING -->
    
                <div class="form-group">
                    <label for="04input_2">
                        <h5 class="text-danger">Error</h5>
                    </label>
                    <input type="text" class="form-control is-invalid" name="04input_4" id="04input_4">
                </div>
    
    
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    


    <div class="container my-5">
        <form action="/detail">
            <div class="form-group">
                <label for="03list_1">
                    <h5>Select list (select one)</h5>
                </label>
                <select class="form-control" id="03list_1" name="03list_1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="form-group">
                <label for="03list_2">
                    <h5>Multiple select list (hold ctrl or shift (or drag with the mouse) to select more than one):</h5>
                </label>
                <select class="form-control" id="03list_2" name="03list_2" multiple>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

            <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>

    <!-- divider -->
    <div class="border"></div>

    <div class="container my-5">
        <form action="/detail">

            <div class="form-group">
                <label for="04input_1">
                    <h5>Disabled</h5>
                </label>
                <input type="text" class="form-control" name="04input_1" id="04input_1" disabled
                    placeholder="Disabled input here...">
            </div>
            <div class="form-group">
                <label for="04input_2">
                    <h5 class="text-success">Success</h5>
                </label>
                <input type="text" class="form-control is-valid" name="04input_2" id="04input_2">
            </div>

            <!-- input3 warining MISSING -->

            <div class="form-group">
                <label for="04input_2">
                    <h5 class="text-danger">Error</h5>
                </label>
                <input type="text" class="form-control is-invalid" name="04input_4" id="04input_4">
            </div>


            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>




</body>

</html>